%nav.flex.items-center.justify-between.flex-wrap.bg-white.p-6
  %div{:class => "w-1/5"}
    %h1{:class => "text-4xl"} LOGO
  %div{:class => "w-4/5 text-md no-underline text-right uppercase"}
    %a{:href => "#", :class => "no-underline text-black pr-4"} Become a host
    |
    %a{:href => "#", :class => "no-underline text-black pl-4"} Link 2