/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1.catbnb {
   font-size:30px;
   margin-bottom:30px;
 }

 body {
   background-color: grey;
 }

 .content{
   margin:8% 15% 0% 15%;
   background-color:white;
   padding:30px;
 }

 .listing_container {
  margin-top: 10px;
 }

 .listing_item {
   display: flex;
   align: items-center;
   border: 1px solid #d4d3d3;
   margin-bottom: 30px;
 }

 .listing_image {
  display: block;
  width:35%;
 }

 .listing_content {
   align: text-center;
   flex-grow: 1
 }

 .listing_text {
  margin-bottom: 20px;
  padding: 20px 20px 10px 20px;
 }

 .listing_pet_name {
   font-size: 30px;
 }

 .listing_fields {
  font-size: 15px;
  line-height: 21px;
 }

 .button_div {
  padding: 0px 20px 20px 20px;
  text-align: right;
 }

 .listing_button {
  font-size: 10px;
  background-color: aqua;
  padding: 5px;
 }

 input[type="text"],
 input[type="number"] {
  height: 38px;
  overflow: visible;
  border: 1px solid #cacaca;
  padding: 7px;
  margin-bottom: 13px;
  width: 100%;
  font-size: 17px;
  }

  textarea {
    overflow: visible;
    border: 1px solid #cacaca;
    padding: 7px;
    margin-bottom: 13px;
    width: 100%;
    font-size: 17px;

  }